<div class="row">
    <div class="col s12">
        <h2>Select a table</h2>
    </div>
</div>
<div class="row">
    <% @tables.each do |table| %>
        <%= link_to table.number, categories_path(table_id: table.id), class: "col s12 m2 z-depth-3 waves-effect waves-light btn-large" %>
    <% end %>
</div>