<div class="row">
  <div class="col s12">
        <h2>All dishes</h2>

        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @dishes.each do |dish| %>
                    <tr>
                        <td><%= dish.name %></td>
                        <td><%= dish.category.name %></td>
                        <td></td>
                    </tr>
                <%end%>
            </tbody>
        </table>
    </div>
</div>

<div class="fixed-action-btn ">
    <a class="btn-floating btn-large waves-effect waves-light red" href="<%= new_admin_dish_path %>"><i class="material-icons">add</i></a>
</div>